.navbar-component {
  position: sticky;
  top: 0;
  width: 100%;
  // min-height: 62px;
  display: flex;
  flex-direction: column;
  background-color: #b38b59;
  border-bottom: 1px solid #000;
  z-index: 10000;

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      padding: 16px;

      img {
        width: 139.28px;
      }
    }

    .right {
      display: flex;

      .navbar-scroll {
        display: flex;
        align-items: center;
        padding: 0 12px;
        border-left: 1px solid #000;

        .button {
          padding: 9px 24px 8px;
          border: 1px solid #000;
          background: none;
          box-shadow: none;
          border-radius: 100px;
          text-transform: uppercase;
          color: #000;
        }

        .text {
          margin-bottom: none !important;
          font-family: GT, sans-serif;
          font-size: 0.9rem;
          font-weight: 400;
        }

        @media (max-width: 991px) {
          display: none;
        }
      }

      .hamburger {
        position: relative;
        width: 66px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
        border-left: 1px solid #000;

        span {
          position: absolute;
          width: 30px;
          height: 2px;
          background: #000;
          border-radius: 2px;
          transition: 0.4s;
        }

        span:first-child {
          transform: translateY(-10px);
          left: 17px;
        }

        span:nth-child(2) {
          transform: translateY(10px);
          left: 17px;
        }

        span:nth-child(3) {
          left: 17px;
        }
      }

      .close {
        position: relative;
        width: 66px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
        border-left: 1px solid #000;

        span {
          position: absolute;
          height: 2px;
          background: #000;
          border-radius: 2px;
          transition: 0.4s;
        }

        span:first-child {
          width: 30px;
          transform: translateY(0) rotate(45deg);
          transition-delay: 0.1s;
          left: 17px;
        }

        span:nth-child(2) {
          width: 30px;
          transform: translateY(0) rotate(135deg);
          transition-delay: 0.2s;
          left: 17px;
        }
        span:nth-child(3) {
          transform: translateX(60px);
        }
      }
    }
  }
}

.heding_dstyle {
  font-size: 2.9375rem;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 2px;
  display: inline;
  text-align: left;
  margin-bottom: 20px;
}

.heding_dstyle:hover {
  text-decoration: underline;
}

.nav_text_align {
  padding-top: 48px;
  padding-left: 48px;
  display: block;
}

.nav_text_style {
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.5625em;
  letter-spacing: 0;
  font-family: SofiaPro, sans-serif;
}

.skip_text {
  display: block;
}

@media screen and (max-width: 800px) {
  .nav_text_align {
    display: none;
  }

  .skip_text {
    display: none;
  }

  .heding_dstyle {
    font-family: GTAmericaMono, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125em;
    letter-spacing: 0;
    white-space: pre-wrap;
  }
}
