.contactus_pagemain {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.contactus_page {
  padding: 10px 10px;
}
.contactus_inputdiv {
  padding: 1rem;
  background: #3d3934;
  border-radius: 0.5rem;
  border: 1px solid #222b3f;
  width: 65%;
}
.contactus_inputdiv {
  display: flex;
  flex-direction: column;
}
.contactus_label {
  font-size: 14px;
  color: #b4aebc;
  margin-bottom: 0.75rem;
  font-weight: 500;
}
.contactus_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 1px solid #222b3f;
  background: #fffaf1;
  border-radius: 0.25rem;
  font-size: 14px;
  width: 100%;
  padding: 0 1rem;
  color: black;
  transition: border 0.3s ease;
  height: 48px;
  outline: none;
  margin-bottom: 10px;
}
.contactus_txtarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: 1px solid #222b3f;
  background: #fffaf1;
  border-radius: 0.25rem;
  font-size: 14px;
  width: 100%;
  padding: 1 0rem;
  padding-top: 10px;
  color: black;
  transition: border 0.3s ease;
  height: 152px;
  outline: none;
  margin-bottom: 10px;
  padding-left: 1rem;
}
.contactus_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d3934;
  user-select: none;
  border: 1px solid #0000;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 20px;
  min-height: 48px;
  white-space: nowrap;
  background: #fffaf1;
  font-family: "Inter Var", sans-serif !important;
  max-width: 150px;
  width: 100%;
  margin-top: 10px;
}

.contactus_inputdiv > ::placeholder {
  /* color: #b4aebc; */
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .contactus_inputdiv {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .contactus_inputdiv > ::placeholder {
    /* color: #b4aebc; */
    font-size: 12px;
    font-weight: 600;
  }
}
